.topbar {
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  z-index: 999;
  background-color: white;
}

.top_left,
.top_right {
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top_center {
  flex: 6;
}

.profilePic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.top_left_icon{
    font-size: 20px;
    margin-right: 20px;
    margin-left: 20px;
    color: #444;
    cursor: pointer;
}

.topbar_list{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.topbar_list_item{
    margin-right: 20px;
    font-size: 26px;
    font-weight: 200;
    cursor: pointer;
}
.top_right_icon{
    font-size: 18px;
    color: #656;
    cursor: pointer;
    margin-left: 15px;
}